
.contactnav {
  text-align: center;
}
.contactnav h1 {
  color: brown;
  margin-top: 30px;
  font-family:   'Open Sans', 'Helvetica Neue', sans-serif;

}

.buttonform {
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonform button{
 margin : 20px;

}

 form {
  display: flex;
  flex-direction: column;
  border: outset grey;
  width :550px;
  padding: 10px;
  margin:auto;
}

form label {
 text-align: left;
 width :500px;
}
.form-control {
  width :500px;

}
.buttoncard button{
width : 80px;
margin : 20px;

}

.card {
  margin : 20px;
}

.contactlist {
flex-wrap: wrap;
  display : flex;
  justify-content: center;
}